<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Hi There and Welcome</h1>

<h1>Hello Again </h1>

<h1><%= @test.class %></h1>


<h1><%= @test[0]["Art"] %></h1>



<h1 id = "panel"></h1>



 <script type="text/javascript">

 var from_csv = "<%= @test[1]['Name'] %> "

console.log(from_csv)
  
document.getElementById("panel").innerHTML= from_csv ;

// var dataset;
//       d3.csv('test.csv', function(error, data) {

//         if (error) { 
//           console.log(error);

//         } else { 
//           console.log(data);
//           dataset = data;
//            generateVis();
       
//         }
//       });

//       function generateVis(){
//         d3.select("body").selectAll("p")
//           .data(dataset)
//           .enter()
//           .append("p")
//           .text(function(d){
//             return "hi";
//           });
//       }
    




  </script>

 

