<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Hi There and Welcome</h1>

<h1>Hello Again, does my push to git work?</h1>

 <script type="text/javascript">

var dataset;

var w = 400,
      h = 300; 
      d3.csv('test.csv', function(error, data) {

        if (error) { 
          console.log(error);

        } else { 
          console.log(data);
          dataset = data;
           generateVis();
       
        }
      });

  function generateVis(){



         var svg = d3.select("body").append("svg")
                            .attr("width", w)
                            .attr("height", h);

  var bar = svg.selectAll("rect")
          .data(dataset)
          .enter()
          .append("rect");

  var bars = bar
            .attr("width", 40)
            .attr("height", function(d) {return d["Art"] * 4;})
            .attr("x", function(d,i) {return i * 60})
            .attr("y", function(d) { return  h - d["Art"] - 210;})
            .style("fill", "pink");
      }
    




  </script>

 

